<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= @client.firstname %> <%= @client.lastname %> Appointment History</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      Recent
    </button>
  </div>
</div>

<div id="appointmentDetail" class="table-responsive">
    <table id="appointmentDetailTable" class="table table-sm">
      <thead>
        <tr>
          <th style="align=center;">Topic ID</td>
          <th style="align=center;">Start time</td>
          <th style="align=center;">Duration</td>
          <th style="align=center;">Hourly Rate</td>
          <th style="align=center;">Billing %</td>
          <th style="align=center;">Date paid</td>
        </tr>
      </thead>
      <tbody>
        <tr><!-- bootstrap on Chrome causes display to shake when only one row in the table -->
          <td colspan="6">&nbsp;</td>
        </tr>
        <% @appointments.each do |appointment| %>
        <tr>
          <td style="align:left;">
            <%= @topics[appointment['topic_id'] - 1].name %>
          </td>
          <td style="align:left;"><%= appointment['starttime'].to_time.strftime("%-m/%-d/%Y, %l:%M:%S %p") %></td>
          <td style="align:left;"><%= appointment['duration'] %></td>
          <td style="align:left;"><%= appointment['rate'].to_f.floor %></td>
          <td style="align:left;"><%= appointment['billingpct'] %></td>
          <td style="align:left;"><%= appointment['paid'] ? appointment['paid'].to_date.strftime("%-m/%-d/%Y") : "" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

</div>
