<script type="text/javascript">
    var topics = <%= @topics.to_json %>;
</script>
<div class="container">
  <div id="clientList" class="fixed-narrow-overflow">
    <table>
      <% @clients.each do |customer| %>
      <tr>
        <td><a href onclick="selectClient(<%= customer.id %>); return false;"><%= customer.firstname %></a></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="fixed-wide">
    <%= erb :clientdetail %>
  </div>
  <div>
    <div class="fixed-overflow">
      <%= erb :appointmentdetail %>
    </div>
    <div>
      <%= erb :receivables %>
    </div>
  </div>
  </table>
