<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= (@formData['id'] ? "#{@formData['firstname']} #{@formData['lastname']}" : "New Client") %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      Recent
    </button>
  </div>
</div>

<div id="createClient" class="table-responsive">
  <form name="clientDetail">
    <input type="hidden" name="client_id" value="<%= @formData['id'] %>" />
    <table id="clientDetailTable" class="table table-striped table-sm">
      <tbody>
        <tr>
          <td style="align=right;">First name:</td>
          <td style="align:left;"><input type="text" name="firstname" value="<%= @formData['firstname'] %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">Last name:</td>
          <td style="align:left;"><input type="text" name="lastname" value="<%= @formData['lastname'] %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">Topic:</td>
          <td style="align:left;">
            <select name="topic_id">
              <% @topics.each do |topic| %>
                <option value="<%= topic.id %>" <%= topic.id == @formData['topicId'] ? "SELECTED" : "" %>><%= topic.name %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td style="align=right;">Contact name:</td>
          <td style="align:left;"><input type="text" name="contactname" value="<%= @formData['contactname'] %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">City:</td>
          <td style="align:left;"><input type="text" name="city" value="<%= @formData['city'] %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">State:</td>
          <td style="align:left;"><input type="text" name="state" value="<%= @formData['state'] %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">Timezone:</td>
          <td style="align:left;"><input type="text" name="timezone" value="<%= @formData['timezone'] %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">First contacted:</td>
          <td style="align:left;"><input type="datetime-local" name="firstcontact" value="<%= (@formData['firstcontact'] ? @formData['firstcontact'].slice(0,16) : '') %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">First responded:</td>
          <td style="align:left;"><input type="datetime-local" name="firstresponse" value="<%= @formData['firstresponse'].slice(0,16) %>" /></td>
        </tr>
        <tr>
          <td style="align=right;">Solicited:</td>
          <td style="align:left;"><input type="checkbox" name="solicited" value="<%= @formData['solicited'] %>" <%= @formData['solicited'] ? "CHECKED" : "" %> /></td>
        </tr>
        <tr>
          <td style="align=right;">&nbsp;</td>
          <td style="align:left;"><input type="button" value="Save" onclick="saveClient()" /></td>
        </tr>
      </tbody>
    </table>

</div>
