<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Receive Payments</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      Recent
    </button>
  </div>
</div>

<div id="receivables" class="table-responsive">
    <table id="receivablesDetailTable" class="table table-sm">
      <thead>
        <tr>
          <th style="align=center;">Appointment ID</th>
          <th style="align=center;">Client First</th>
          <th style="align=center;">Client Last</th>
          <th style="align=center;">Topic</th>
          <th style="align=center;">Start time</th>
          <th style="align=center;">Duration</th>
          <th style="align=center;">Hourly Rate</th>
          <th style="align=center;">Billing %</th>
          <th style="align=center;">Amount Due</th>
          <th style="align=center;">Paid</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="10" style="text-align:right">
            <input type="date" id="paiddate" value="<%= @paiddate %>" />
          </td>
          <% @receivables.each do |receivable| %>
          <tr>
            <td style="text-align:left;"><%= receivable['id'] %></td>
            <td style="text-align:left;"><%= receivable['firstname'] %></td>
            <td style="text-align:left;"><%= receivable['lastname'] %></td>
            <td style="text-align:left;"><%= receivable['topicname'] %></td>
            <td style="text-align:left;"><%= receivable['starttime'].to_time.strftime("%-m/%-d/%Y, %l:%M:%S %p") %></td>
            <td style="text-align:left;"><%= receivable['duration'] %></td>
            <td style="text-align:left;"><%= receivable['rate'].to_f.floor %></td>
            <td style="text-align:left;"><%= receivable['billingpct'] %></td>
            <td style="text-align:right;">$ <%= "%.2f" % (receivable['rate'].to_f * (receivable['duration'].to_i / 60.to_f) * receivable['billingpct'].to_f) %></td>
            <td style="text-align:left;"><a href onclick="getPaid(<%= receivable['id'] %>); return false;">Mark Paid</a></td>
          </tr>
          <% end %>
        </tr>
        <tr>
            <td colspan="8" style="text-align:right">&nbsp;</td>
            <td style="text-align:right">
                <b id="outstanding">$ <%= "%.2f" % @receivables.map {|s| (s['rate'].to_f * s['duration'].to_i / 60.to_f * s['billingpct'].to_f)}.reduce(0, :+) %></b>
            </td>
            <td style="text-align:right">&nbsp;</td>
        </tr>
      </tbody>
    </table>

</div>
