<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Monthly Activity</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      Recent
    </button>
  </div>
</div>

<div id="reportData" class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th><a href onclick="loadMonthlyActivity('monthOfYear'); return false;">Month / Year</a></th>
        <th><a href onclick="loadMonthlyActivity('totalClients'); return false;">Clients</a></th>
        <th><a href onclick="loadMonthlyActivity('totalAppointments'); return false;">Appointments</a></th>
        <th><a href onclick="loadMonthlyActivity('totalHours'); return false;">Hours</a></th>
        <th><a href onclick="loadMonthlyActivity('totalRevenue'); return false;">Revenue</a></th>
        <th><a href onclick="loadMonthlyActivity('averageRate'); return false;">Avg Rate</a></th>
      </tr>
    </thead>
    <tbody>
      <% @reportData.each do |data| %>
      <tr>
        <td><%= data['monthOfYear'] %></a></td>
        <td><%= data['totalClients'] %></a></td>
        <td><%= data['totalAppointments'] %></a></td>
        <td><%= "%.2f" % data['totalHours'] %></a></td>
        <td>$ <%= "%.2f" % data['totalRevenue'] %></a></td>
        <td>$ <%= "%.2f" % data['averageRate'] %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
